<style>
    .top-scrollerx {
    position: fixed;
        bottom: 50px;
        right: 20px;
        font-size: 1em;
        display: none;
        z-index: 999;
        text-align: center;
        cursor: pointer;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        background: rgba(0,0,0,.50);
        color: #fff;
        line-height: 42px;
    
    }
     .top-scrollerx:hover {
        background: rgba(0,0,0,.6);
    }
    </style>
    <div class="top-scrollerx js-top-scrollerx svg-icons">
       <svg style="vertical-align: middle; width: 22px; height: 22px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M6.101 261.899L25.9 281.698c4.686 4.686 12.284 4.686 16.971 0L198 126.568V468c0 6.627 5.373 12 12 12h28c6.627 0 12-5.373 12-12V126.568l155.13 155.13c4.686 4.686 12.284 4.686 16.971 0l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L232.485 35.515c-4.686-4.686-12.284-4.686-16.971 0L6.101 244.929c-4.687 4.686-4.687 12.284 0 16.97z"></path></svg>
    </div>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
      $(window).scroll(function(){
        // console.log('wwww');
        if ($(this).scrollTop() > 400) {
          $('.js-top-scrollerx').fadeIn();
        } else {
          $('.js-top-scrollerx').fadeOut();
        }
      });
      //Click event to scroll to top
      $('.js-top-scrollerx').click(function(){
        $('html, body').animate({scrollTop : 0},1000);
        return false;
      }); 
    }); 
    
    </script>