.coupon-code__container {
    grid-template-columns: repeat(auto-fit, minmax(230px, 28%));
    width: 1228px;
    justify-content: center;
    margin: 20px auto;

    .coupon-code {
        border: 1px solid $font-color-rose-gold;
        padding: 15px 0;
        text-align: center;

        &__top {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            color: $font-color-rose-gold;
            font-size: 50px;
            letter-spacing: -3px;

            span:nth-child(1) {
                font-size: 30px;
                transform: translateY(-10px);
            }
            span:nth-child(2) {
                line-height: 1;
            }
            span:nth-child(3) {
                text-transform: uppercase;
                padding-left: 25px;
                line-height: 1;
            }
        }

        &__bot {
            margin-top: 5px;
            padding-top: 15px;
            display: flex;
            justify-content: center;
            color: #000;
            font-size: 16px;
            border-top: 1px dashed $font-color-rose-gold;

            p{
                margin: 0;
            }

            p:nth-child(1) {
                margin-right: 5px;
                text-transform: uppercase;
            }

            p:nth-child(2) {
                span:nth-child(2) {
                    text-decoration: underline;
                }
            }
        }
    }
}