/* From Link or provided by others via CDN */
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Norican&family=Pacifico&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/* From Store Uploaded Files */
@font-face {
    font-family: 'AlexBrush';
    src: url("https://cdn.shopifycdn.net/s/files/1/0424/8020/5986/files/AlexBrush-Regular.ttf?v=1598336906");
}

@font-face {
    font-family: 'OldEnglishFontMT';
    src: url("https://cdn.shopify.com/s/files/1/0424/8020/5986/files/Old_English_Font_MT.ttf?v=1596166145");
}

/* /////////////////////////////////////////////////-FONT FROM NAMENECKLACE.COM-////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////-NOTE THAT SOME OF THE FONTS MAY NOT WORK BECAUES NAMENECKLACE DELETED IT-////////////////////////////////////////////////////////////////////////// */
@font-face {
    font-family: "AppleChancery";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AppleChancery.woff?v=12247422558457032181") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AppleChanceryRegular';
    src: url("https://cdn.shopify.com/s/files/1/0424/8020/5986/files/Apple_Chancery_Regular.ttf?v=1599881370");
}

@font-face {
    font-family: "TimesNewRoman";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/TimesNewRoman.woff?v=15929822915962211040") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AlluraRegular";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AlluraRegular.woff?v=15530773872527051415") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "holyunion";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/holyunion.woff?v=11442559011732857076") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "NexaScript-Free";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/NexaScript-Free.woff?v=11949583549436814029") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "VineMonogramsSolid";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/VineMonogramsSolid.woff?v=9471050503186089641") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Architects-Daughter";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/Architects-Daughter.woff?83608") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "IndieFlower";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/IndieFlower.woff?83608") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica-Narrow";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/Helvetica-Narrow.woff?v=18425287288048502400") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "TrajanPro3-Regular";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/TrajanPro3-Regular.woff?v=1764363584120620295") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "SouthernAire_PersonalUseOnly";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/SouthernAire_PersonalUseOnly.woff?v=5362236734577783260") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Arial";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/Arial.woff?v=17898339129885261130") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "GreatVibes";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/GreatVibes-Regular.woff?v=5862167028628931794") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BrushScriptStd";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/BrushScriptStd.woff?v=8099205306191718490") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "CircleMonogramsThreeWhite";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/CircleMonogramsThreeWhite.woff?v=4989267146526493361") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "VineMonogramsSolid";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/VineMonogramsSolid.woff?v=9471050503186089641") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Cochin";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/Cochin.woff?v=10659625133421860450") format("woff");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "BlessedDay";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/BlessedDay.woff?v=12832385646944448") format("woff");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "BeautifulES";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/BeautifulES.woff?v=16041738816168644052") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "CircleMonogramsTwoWhite";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/CircleMonogramsTwoWhite.woff?v=15503888438543605542") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "CommercialScriptBT";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/CommercialScriptBT-Regular.woff?v=5301867714302571709") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ShitHappens-Cursive";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/ShitHappens-Cursive.woff?v=16869162874570354915") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Italianno-Regular";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/Italianno-Regular.woff?v=7707677541677608488") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "CommercialScriptBT-Regular";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/CommercialScriptBT-Regular.woff?v=5301867714302571709") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BrannbollFet";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/BrannbollFet.woff?v=9303865393105191398") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Soufeel-Font";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/Soufeel-Font.woff?v=9719654285608321702") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "soufeel-flower";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/soufeel-flower.woff?v=18103287382276451970") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Caligraf-W";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/Caligraf-W.woff?v=12052384661282995357") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Gabriola";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/Gabriola.woff?v=16209879330984862911") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "FreebooterScript";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/FreebooterScript.woff?v=1084266844761557344") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "cochinRegular";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/cochinRegular.woff?v=8581121324215652023") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Tagettes";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/Tagettes.woff?v=16090411953142720651") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ASPIRE";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/ASPIRE.woff?v=16802777584364488957") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AmazeNormal";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AmazeNormal.woff?v=33137255025941965") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AFRiyadh";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AFRiyadh.woff?v=11063953595681437629") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Garamond";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/Garamond.woff?v=13422091628310425107") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Swis721BlkBTBlack";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/Swis721BlkBTBlack.woff?v=7978666846268328087") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Volupia";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/Volupia.woff?v=12537054625564713040") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BrannbollSmal";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/BrannbollSmal.woff?v=10965604387821911266") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "CuteLove";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/CuteLove.woff?v=3934332708299652855") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "SafirScript";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/SafirScript.woff?v=3202499844358240535") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AutumnChant";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AutumnChant.woff?v=6411581862083657844") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "grandhotel";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/grandhotel.woff?v=8496730594030283387") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "monogram";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/monogram.woff?v=16900410934377590838") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "YuanQiman";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/YuanQiman.woff?v=15545723134373640301") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "VineMonogramsSolideFive";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/VineMonogramsSolideFive.woff?v=3876938481294429829") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "VictorianLETPlain";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/VictorianLETPlain.woff?v=14843299714801813576") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV1";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV1.woff?v=4171266100799943064") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "NoteworthyBold";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/NoteworthyBold.woff?v=3848960043149308088") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV2";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV2.woff?v=3686646779894427753") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV4";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV4.woff?v=12963584655006527909") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV5";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV5.woff?v=2514458070690289921") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV19";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV19.woff?v=12413151299785107853") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "VS";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/VS.woff?v=9471050503186089641") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "SourceCodeproBlack";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/SourceCodeproBlack.woff?v=7281837144514551673") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV7";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV7.woff?v=3520024655239328205") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV9";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV9.woff?v=1038253299691396531") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV10";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV10.woff?v=761040755022576435") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV11";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV11.woff?v=7089255974839510397") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV12";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV12.woff?v=16045694266543711843") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV13";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV13.woff?v=5373945622227661719") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV14";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV14.woff?v=9766673340434973442") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV15";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV15.woff?v=1833242699445582571") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV16";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV16.woff?v=16826604347406804600") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ScriptMTBold";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/ScriptMTBold.woff?v=1102991343965757386") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Carrington";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/Carrington.woff?v=10734333252073166787") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "CenturyGothic";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/CenturyGothic.woff?v=10566604238945818793") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "EdoSZ";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/EdoSZ.woff?v=735838513574647598") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Georgia-Bold";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/Georgia-Bold.woff?v=12524381496926108789") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "SouthernAirePersonalUseOnly";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/SouthernAirePersonalUseOnly.woff?v=5362236734577783260") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV27";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV27.woff?v=3158056338513997147") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV28";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV28.woff?v=16736453814287278929") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV30";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV30.woff?v=11707249339252286486") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ALWAYSINMYHEART";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/ALWAYSINMYHEART.woff?v=6585505949395231281") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "LCALLIG";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/LCALLIG.woff?v=15028093492990610020") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV26";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV26.woff?v=4910408241445837598") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV24";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV24.woff?v=918983028664818533") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV34";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV34.woff?v=2871026663689213695") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV37";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV37.woff?v=11969563666870687625") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV32";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV32.woff?v=14613591217347551472") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV33";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV33.woff?v=3547825605558127476") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "GrandamSample";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/GrandamSample.woff?v=1234494847473412503") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "NoteworthyBold ";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/NoteworthyBold%20.woff?83608") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV40";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV40.woff?v=225619649964641356") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV42";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV42.woff?v=5089598054828036852") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV41";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV41.woff?v=1745810552501853331") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "zhaolian66";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/zhaolian66.woff?v=6920348745351851567") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AOTFMARUFOPROHEAVY";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AOTFMARUFOPROHEAVY.woff?v=7506875561610365775") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV53";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV53.woff?v=727237181202096531") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AMAZE";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AMAZE.woff?v=17277225608617139324") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "comic";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/comic.woff?v=13544413115758200143") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ScriptMTStdBold";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/ScriptMTStdBold.woff?v=11601817600718261090") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV57";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV57.woff?v=6734677226385397722") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV58";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV58.woff?v=14641254024659888971") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV59";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV59.woff?v=2454662725549406849") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV61";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV61.woff?v=4119704207453553653") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "CO";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/CO.woff?v=7686700563924109401") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "GS";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/GS.woff?v=13713205007171059716") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV64";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV64.woff?v=15687182882678909011") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV66";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV66.woff?v=11153338644045922849") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV67";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV67.woff?v=6387629085986035553") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AIV69";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/AIV69.woff?83608") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BEAUTIFUL ES";
    src: url("//cdn.shopify.com/s/files/1/0019/7437/0353/t/19/assets/BEAUTIFUL%20ES.woff?83608") format("woff");
    font-weight: normal;
    font-style: normal;
}
