/* ===============================================
// Reveal module
// =============================================== */

.reveal .hidden { display: block !important; visibility: visible !important;}
.card-hover:hover .product-card__image-with-placeholder-wrapper div div .reveal img { opacity: 1; }
.reveal { position: relative; }
.reveal .hidden { 
  position: absolute; 
  z-index: -1;
  top: 0; 
  width: 100%; 
  height: 100%;  
  opacity: 0;
  transition: opacity 0.2s ease-in-out;  
}
.card-hover:hover .product-card__image-with-placeholder-wrapper div div .reveal .hidden { 
  z-index: 1;
  opacity: 2;    
}
