
$font-color-gold: #d3b33a;
// $font-color-rose-gold: #b77d5f;
$font-color-rose-gold: #d17b57;
$font-color-silver: #a4a4a4;

$font-color-gray: #7b7b7b;
$font-color-dark-gray: #4b4b4b;
$font-color-light-gray: #e2e2e2;

$btn-secondary-accent: #e60044; 
$btn-secondary-accent-dark: #b30035; 

$font-color-gold-gr: linear-gradient(transparent, transparent), 
linear-gradient(transparent, transparent), linear-gradient(top, #ede097 0%, #eee39e 26%, #e7d685 35%, 
                    #d3b33a 45%, #eadb8e 61%, #e3ce74 100%);
                    
$font-color-rose-gold-gr: linear-gradient(transparent, transparent),
linear-gradient(top, #cea997 0%, #e8d5cb 26%, #e5d1c6 35%, #e8d6cf 45%,
                     #cfaa99 61%, #b77d5f 100%);

$font-color-silver-gr: linear-gradient(transparent, transparent), 
linear-gradient(top, #e0e1e1 0%, #e3e2e8 26%, #ddd 35%, 
#d7d7d7 45%, #a4a4a4 100%);

